body{
font-family:Arial;
background:linear-gradient(#e8f5e9,#a5d6a7);
text-align:center;
}

.container{
background:white;
padding:20px;
border-radius:20px;
max-width:600px;
margin:auto;
}

.progress{
background:#ccc;
border-radius:10px;
margin:10px;
}

#barra{
background:#2e7d32;
color:white;
width:0%;
border-radius:10px;
}
